logs
downloads
docs/document.aux
docs/document.log
docs/document.out
docs/document.synctex.gz
docs/document.tex
docs/document.toc
docs/manual.aux
docs/manual.log
docs/manual.out
docs/manual.synctex.gz
docs/manual.tex
docs/manual.toc

